*{
	margin: 0 auto;
	padding: 5px;
}
body{
	background: #D4EFDF;
	
}
.cuerpo{
	background: #F4ECF7;
	width: 500px;
	max-width:1000px; 
	border: 1px solid;
	border-radius: 10px;
	box-shadow: 30px 10px 20px #aaa;
}
table{
	border-spacing: 0;
	width: 500px;

}
table th,td{
	border: 2px solid #ccc;
	padding: 10px;
	border-radius: 10px;
}
table  td:hover{
	border-radius: 20px;
	background:#A2D9CE ;
}
form input{
	border-radius: 10px;
}
form input:hover{
	border-radius: 20px;
	background:#E9F7EF;
}
